<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav style="background: green; padding: 15px; display: flex; align-items: center; gap: 15px;">
        <a href="/" style="color:white; text-decoration: none;">Home</a>
        <a href="/about" style="color:white; text-decoration: none;">About</a>
        <a href="/schemes" style="color:white; text-decoration: none;">Schemes</a>
        <a href="/contact" style="color:white; text-decoration: none;">Contact</a>
        
        {% if user %}
            <a href="/user_dashboard" style="color:white; text-decoration: none;">Dashboard</a>
            <a href="/logout" style="color:white; text-decoration: none;">Logout</a>
        {% else %}
            <a href="/user" style="color:white; text-decoration: none;">Login</a>
        {% endif %}
    </nav>

    {% block content %}{% endblock %}
</body>
</html>